body{
    text-align: center;
    background-color: rgb(29, 187, 187);
    width: 800px;
    margin: auto;
}
#input-section>input,#input-section>button{
    margin: 10px;
    font-size: 20px;
    padding: 5px;
}
.button{
    font-size:25px;
}
.lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 20px;
   font-size: 30px;
   list-style: none;
}

.lists>div{
   display: flex;
}
#date{
    margin-right: 20px;
}
.lists>span{
    margin-right: 0;
}